.like_list_container{
    border-bottom:1px solid lightgrey;
    margin-bottom:10px;
  }

  .like_list_columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:10px;
    font-weight:700;
    align-items: center;
    padding:5px;
    line-height: 14px;
    background-color:#efefef;
  }
  .like_list_columns li{
    width:50px;
    text-align:center;
    
  }
  .like_list_columns li:nth-child(1),
  .like_list_contents ul li:nth-child(1){
    width:100px;
    text-align:left;
  }
  .like_list_columns li:nth-child(2),
  .like_list_contents ul li:nth-child(2){
    width:200px;
    text-align:left;
    cursor: pointer;
  }
  .like_list_columns li:nth-child(3),
  .like_list_contents ul li:nth-child(3){
    width:30px;
  }
  .like_list_columns li:nth-child(8)
  .like_list_contents ul li:nth-child(8){
    width:80px;
  }
  .like_list_columns li:nth-child(9),
  .like_list_contents ul li:nth-child(9){
    width:80px;
  }
  .like_list_columns li:nth-child(10),
  .like_list_contents ul li:nth-child(10){
    width:80px;
  }
  
  .down_arrow {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }
  
  .like_list_contents ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    line-height: 14px;
  }
  .like_list_contents{
    background-color:white;
  }
  .like_list_contents:nth-child(odd){
    background-color:#f5f5f5;
  }
  .like_list_contents ul li{
    width:50px;
    text-align:center;
  }

.change_book_title_input_form{
  flex-direction: row;
  justify-content: space-between;
}
  .change_book_title_input_form .ant-form-item{
    width:128px;
    margin:0;
  }
  .change_book_title_input_form .change_book_title_buttons{
    width:72px;
    margin:0;
  }
  .change_book_title_input_form .ant-col{
    background-color:white;
  }
  .hide_or_show_false{
    display: none;
  }

  .hide_or_show_title_btn{
    cursor:pointer;
    border:1px solid grey;
    border-radius:3px;
    background-color:white;
  }